.opt-nav{
  position: fixed;
  top: 0;
  bottom: 0;

  width: 250px;

  background: #333;
}

.opt-nav .opt{
  display: block;
  padding: 10px 20px;
  
  text-align: center;
  color: #fff;
}
.opt-nav .opt:hover{
  background: #555;
}